/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.3s;
}

.heart:hover .main-body {
  fill: var(--accent-color);
}

.heart:hover .core {
  fill: var(--accent-color);
}

.heart:active .main-body {
  fill: var(--heart-color);
}

.heart:active .core {
  fill: var(--heart-color);
}

.like-icon.is-liked {
  transition: fill 0.3s linear 0.06s;
  animation: heart-scale 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .contour {
  animation: change-contour 0.3s linear 0.06s alternate;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s ease-in 0.3s alternate;
}

@keyframes arrow {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(4px);
  }
}

@keyframes heart-scale {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes change-opacity {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes change-contour {

  0% {
    fill: var(--heart-color);
  }

  100% {
    fill: var(--heart-color);
  }
}